@{ 
    Layout = "/Views/Shared/_Layout.cshtml";
}

<div style="width: 60%; margin: 0 auto;">
    <p style="font-family: 'Roboto', sans-serif; font-size: 25px; font-weight: 600;">Manage your account</p>
    <partial name="_ManageNav" />
    @RenderBody()
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
