<div class="form" style="width: 15%;">
    <p><a class="searchLink" asp-page="./Index">Profile</a></p>
    <p><a class="searchLink" id="change-password" asp-page="./ChangePassword">Password</a></p>
</div>
