@page
@model IndexModel
@{
    ViewBag.Title = "Profile manage";
    ViewData["Title"] = "Profile";
    Layout = "/Areas/Identity/Pages/Account/Manage/_Layout.cshtml";
}

<div class="form" style="width: 60%;">
    <p><b>@ViewData["Title"]</b></p>
    <form id="profile-form" method="post">
        <div asp-validation-summary="All" style="color: red;"></div>
        <div class="form-group">
            <p><label asp-for="Input.RealName"></label></p>
            <input asp-for="Input.RealName" class="form-control" placeholder="Your real name" />
            <span asp-validation-for="Input.RealName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <p><label asp-for="Input.Alias"></label></p>
            <input asp-for="Input.Alias" class="form-control" placeholder="Alias" required pattern="[a-z0-9_]+" title="Alias must contains only numbers and latin characters."/>
            <span asp-validation-for="Input.Alias" class="text-danger"></span>
        </div>
        <div class="form-group">
            <p><label asp-for="Input.Bio"></label></p>
            <input asp-for="Input.Bio" class="form-control" placeholder="Bio" />
            <span asp-validation-for="Input.Bio" class="text-danger"></span>
        </div>
        <div class="form-group">
            <p><label asp-for="Input.WebSite"></label></p>
            <input asp-for="Input.WebSite" class="form-control" placeholder="Web-site" />
            <span asp-validation-for="Input.Bio" class="text-danger"></span>
        </div>
        <button type="submit" class="button-style">Save</button>
    </form>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
