@using Microsoft.AspNetCore.Identity

@inject SignInManager<InstagramClone.Domain.Models.AppUser> SignInManager
@inject UserManager<InstagramClone.Domain.Models.AppUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    string alias = UserManager.GetUserAsync(User).Result.Alias;
    <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right list">
            <li>
                @*<a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage" style="color: #9d9d9d">Edit profile</a>*@
                @*<a asp-page="/Profile/Index" style="color: #9d9d9d">Profile</a>*@
                <a href="/@alias" style="color: #9d9d9d">Profile</a>
            </li>
            <li>
                <button type="submit" class="button-style">Log out</button>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right list">
        <li><a asp-area="Identity" asp-page="/Account/Register">Register</a></li>
        <li><a asp-area="Identity" asp-page="/Account/Login" class="button-style" style="color: white;">Login</a></li>
    </ul>
}