@model AppUserViewModel

@if (Model != null)
{
    ViewData["Title"] = "InstagramClone - " + Model.Alias;
    <partial name="_ProfilePartialView" model="Model" />
    <div class="posts">
        <div style="max-width: 1100px; width: 100%; display: flex; flex-wrap: wrap; justify-content: center;">
            @if (User.Identity.Name == Model.Name)
            {
                <div for="post-input" style="cursor: pointer;" class="new-post post" id="add-post">
                    <form id="post" method="post" enctype="multipart/form-data" asp-controller="Profile" asp-action="AddNewPost">
                        <div class="image-upload">
                            <label for="post-input" id="label-post"></label>
                            <input id="post-input" name="post-file" type="file" accept="image/*" />
                            <input type="submit" id="submit-post" value="submit" />
                        </div>
                    </form>
                </div>
            }
            @foreach (var i in Model.Posts)
            {
                <partial name="_PostPartialView" model="i" />
            }
        </div>
    </div>
}
else
{
    ViewData["Title"] = "Error";
    <p>Not found</p>
}
@section Scripts{
    <script src="~/js/followers.js"></script>
    <script src="~/js/picture.js"></script>
    <script src="~/js/publication.js"></script>
}
