@font-face {
    font-family: Billabong;
    src: url("../fonts/Billabong.ttf");
    src: local("Billabong"), url("../fonts/Billabong.ttf") format("truetype");
}

@font-face {
    font-family: Bunch;
    src: url("../fonts/Bunch Blossoms.ttf");
    src: local("Billabong"), url("../fonts/Bunch Blossoms.ttf") format("truetype");
}

@font-face {
    font-family: Jelly;
    src: url("../fonts/Lemon Jelly.ttf");
    src: local("Billabong"), url("../fonts/Lemon Jelly.ttf") format("truetype");
}

@media screen and (max-width: 570px) {
    .logo-text {
        font-family: Billabong;
        font-size: 1.8em;
        margin-left: 0.5em;
    }

    header, main, footer {
        width: 100% !important;
        padding-left: 10%;
        padding-right: 10%;
    }

    #post{
        display: block !important;
    }
}

@media screen and (max-width: 380px) {
    .logo-text {
        font-family: Billabong;
        font-size: 1.5em;
        margin-left: 0.5em;
    }

    .top {
        padding-top: 1em;
        padding-bottom: 1em;
        text-align: left;
        display: flex;
        line-height: 2em;
        flex-flow: row wrap;
        align-items: center;
        justify-content: center;
    }

    #profile, #search, #logo, #logo-link{
        width: 100% !important;
    }

    #profile, #logo{
        justify-content: center !important;
    }
}

body {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    min-width: 160px;
    background-color: #fafafa;
    font-family: Arial;
}

header, main, footer {
    width: 100% !important;
    padding-left: 10%;
    padding-right: 10%;
}

main{
    display: flex;
    flex-wrap: wrap;
}

header {
    background-color: white;
    border-bottom: 1px solid #e0e0e0;
}

footer{
    height: 2em;
}

.logo-text {
    font-family: Billabong;
    font-size: 2em;
    margin-left: 0.5em;
}

.top {
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: left;
    display: flex;
    line-height: 2em;
    justify-content: space-between; 
}

#top-users{
    display: flex;
    margin-top: 1em;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
}

#header .item h3, .item h4, .pager a {
    font: bold 1em Arial;
}

#profile-photo{
    max-width: 152px;
    min-width: 100px;
    width: 100%;
    height: auto;
}

#post{
    display: flex;
    justify-content: center;
    width: 100%;
}

.logo {
    margin: 0 0 0px;
    overflow: hidden;
}

.login {
    margin: 0 0 0px;
    overflow: hidden;
    font-family: Arial;
    font-size: 0.4em;
}

.el-item {
    width: 20%;
    min-width: 10em;
}

.button-style {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    border-width: 0;
    color: white;
    background-color: #249cd9;
}

.search {
    overflow: hidden;
    text-align: center;
    margin: 0 0 0px;
    line-height: 5em;
}

#input-search {
    text-align: center;
    width: 100%;
    height: 2em;
    background-color: #fafafa;
    border: 1px solid #ccc;
    border-radius: 0.2em;
    box-sizing: border-box;
    resize: vertical;
}

#search {
    width: 20%;
    min-width: 10em;
    padding-left: 1em;
    padding-right: 1em;
    position: relative;
}

#searchResult{
    position: absolute;
    z-index: 999;
    max-height: 250px;
    visibility: hidden;
}

#logo-link {
    color: black;
    text-decoration: none;
    width: 40%;
}

#logo {
    display: flex;
}

#profile {
    display: flex;
    width: 40%;
    font-family: Arial;
    font-size: 0.9em;
    justify-content: flex-end;
}

#profile div {
    margin-right: 1em;
}

input[type=text], input[type=password], input[type=url] {
    width: 100%;
    padding: 6px;
    margin-bottom: 6px;
    background-color: #fafafa;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}

.searchBox, .absoluteBox {
    position: fixed;
    overflow: scroll;
    overflow-x: hidden;
    width: 13em;
    border: 1px solid #cecece;
    box-shadow: 0 0 3px rgba(0,0,0,0.5);
    border-radius: 4px;
    background-color: white;
}

.searchBox {
    position: absolute;
}

.searchElementResult {
    margin: 0;
    padding: 15px;
    border-bottom: 1px solid #ccc;
}

.searchLink {
    text-decoration: none;
    color: black;
}

.blackDiv {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: black;
    opacity: 0.7;
}

.searchLink p:hover {
    background-color: #f8f8f8;
    color: black;
}

.photo{
    margin-right: 15px;
    margin-left: 15px;
    text-align: center;
}

.info {
    margin-top: 15px;
    margin-left: 30px;
}

.alias-style {
    font-size: 30px;
    margin: 0;
    margin-bottom: 10px;
    margin-top: 10px;
}

p.margin-info > span{
    margin-right: 30px;
}

p.margin-info {
    margin-top: 25px;
    margin-bottom: 25px;
}

.showPost{
    margin-top: 20px;
}

.bold {
    font-weight: 600;
    color: #262626;
}

.p-style, div.form p {
    margin: 0;
    margin-bottom: 5px;
}

div.form div{
    margin-bottom: 5px;
}

.button-style-white {
    width: 100%;
    padding: 8px;
    margin-top: 8px;
    border-radius: 4px;
    border-width: 0;
    color: black;
    border: 1px solid #e0e0e0;
    font-weight: bold;
    background-color: none;
}

.profile {
    width: 100%;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 25px;
    padding-top: 10px;
    font-family: 'Roboto', sans-serif;
}

.button-link {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.followersBlock{
    width: 250px;
    max-height: 400px;
    float: left;
}

.simple-link{
    text-decoration: none;
    color: black;
}

.image-upload > input {
    display: none;
}

#image-post {
    margin-right: 30px;
    max-width: 100%;
}

.post-comments {
    width: 250px;
    height: 250px;
    overflow: scroll;
    overflow-x: hidden;
}

.post-comments p a {
    text-decoration: none;
    color: black;
}

.comments-top {
    width: 250px;
    height: auto;
    min-height: 50px;
    margin-top: 0px;
    border-bottom: none !important;
}

.comments-bottom {
    border-top: none !important;
    height: 50px;
    width: 250px;
}

.comments-bottom input{
    margin-top: 10px;
}

.post-like-style {
    float: left;
    margin-top: 15px;
    margin-left: 6px;
}

.post-like-info {
    float: left;
    line-height: 18px;
    margin-left: 10px;
}

#post-like{
    float: left;
    margin-top: 15px;
    margin-left: 6px;
    cursor: pointer;
}

#delete-post {
    float: right;
    cursor: pointer !important;
}

.post-title {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    margin-top: 15px;
}

.post-title a {
    text-decoration: none;
    color: black;
}

#caption-text, #tags {
    margin: 0;
    margin-left: 6px;
    padding-bottom: 10px;
    padding-top: 10px;
}

#tags {
    padding-top: 0;
}


#img-post {
    width: 100%;
    height: auto;
}

.settings {
    float: left;
    width: 300px;
}

.form, .comments{
    float: left;
    border: 1px solid #ccc;
    padding: 20px;
    margin-right: 20px;
    background-color: white;
}

.comments {
    float: none;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 20px;
    padding-right: 20px;
}

.posts {
    display: flex;
    text-align: center;
    margin-top: 30px;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}


.post, .new-post {
    width: 25%;
    margin-top: 5px;
    margin-right: 5px;
    margin-left: 5px;
    text-align: center;
    color: white;
    vertical-align: middle;
    cursor: pointer;
}

.pic{
    width: 100%;
    height: auto;
}

.admin-main-page {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    text-align: center;
    justify-content: center;
    margin-top: 2em;
}

.admin-main-page div:first-child, .user-control-panel div:first-child {
    border-left: 1px solid #e0e0e0;
}

.admin-main-page div:last-child{
    border-left: none;
}

.admin-main-page div, .user-control-panel div{
    border: 1px solid #e0e0e0;
    border-left: none;
    width: calc(100% / 4 - 2px);
    background-color: white;
}

.admin-main-page div a, .user-control-panel div a{
    display: block;
    padding: 1em;
    text-decoration: none;
    color: black;
}

.currentLink {
    color: white !important;
    background-color: #249cd9;
}

.nav-admin:hover, .user-control-panel div a:hover{
    color: white !important;
    background-color: #249cd9;
}

.user-control-panel {
    display: flex;
    width: 50%;
    justify-content: center;
    text-align: center;
}

#users{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}

.user{
    margin-bottom: 1em;
}

.user-info {
    display: flex;
    flex-wrap: wrap;
    font-family: Roboto;
}

.new-post {
    border: 1px solid #e0e0e0;
    background-color: white;
    background-image: url("/images/photo_camera_grey_192x192.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 96px 96px;
    width: 25%;
    padding-bottom: 25%;
}

.view-post {
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
}

.post-input-style {
    border: none !important;
    background-color: white !important;
}

#post-input-text{
    margin-bottom: 0;
}

.post-info {
    width: 250px;
    height: 50px;
    margin-top: 0px;
    border-top: none;
}

.post-info p {
    margin: 0;
    padding-top: 15px;
    margin-left: 6px;
}

.post-add-comment {
    width: 250px;
    height: 50px;
    margin-top: 0px;
    border-top: none;
}

.post-input-style:focus {
    outline: none;
}

.comment-style {
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
    margin-top: 10px;
}

.post-style-wrap {
    margin-top: 30px;
    font-family: Roboto;
    font-size: 14px;
}